.next-page {
    display: flex;
}

.left_cover{
    position: absolute;
    width: 15px;
    height: 81%;
    top: 80px;
    background: rgba(140, 152, 173, 0.1);
    border-radius: 0px 12px 12px 0px;
    border: 1px solid #E9EDF2;
}

.next_page_btn{
    cursor: pointer;
    position: absolute;
    top: 293px;
    background: #6941C6;
    border: 1px solid #E9EDF2;
    border-radius: 0px 12px 12px 0px;
    padding: 27px 11px;
}

@media screen and (max-width: 1200px) {
    /* Insérez vos propriétés CSS ici, avec vos sélecteurs*/
    }